
.navbar {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-brand {
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}

.body-div {
  padding: 0px;
}

.muted-circle {
  color: #DDDDDD;
}

.muted-star {
  color: #DDDDDD;
}

.yellow-star {
  color: #FFD700;
}
